body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-black);
  color: var(--color-white);
  
}

:root {
  --color-black: #121212;
  --color-green: #00ff7f;
  --color-white: #ffffff;
  --font-family: 'Poppins', sans-serif;
}